@import '../../style/theme';

.algae-ui-button {
  padding: 4px 16px;
  margin: 4px 8px;
  cursor: pointer;
  line-height: 1.6em;
  transition: all 250ms;
  fill: currentColor;
  font: {
    size: 14px;
    weight: 400;
  }
  border: {
    radius: 4px;
    width: 1px;
    style: solid;
  }
  &:hover {
    fill: currentColor;
  }
  &:focus {
    outline: none;
  }
  &.algae-ui-button-disabled {
    cursor: not-allowed !important;
    color: rgba(0, 0, 0, 0.3) !important;
    background: $bg !important;
    border-color: #d9d9d9 !important;
  }
  &.algae-ui-button-animation-diffuse {
    position: relative;
    &::before {
      content: '';
      display: block;
      background: inherit;
      pointer-events: none;
      position: absolute;
      z-index: 1;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      opacity: 0.4;
      animation: algae-ui-button-diffuse 0.3s ease-in-out forwards;
      flex-shrink: 0;
      border: {
        radius: inherit;
        width: 0;
        style: solid;
        color: inherit;
      }
    }
  }
  &.algae-ui-button-full {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  &.algae-ui-button-ghost {
    background: transparent !important;
  }
  & > .algae-ui-icon {
    height: 1.2em;
    width: 1.2em;
    vertical-align: -0.2em;
    &.left {
      margin-right: 4px;
    }
    &.right {
      margin-left: 4px;
    }
    &.animation-loading {
      margin-right: 8px;
      animation: spin 1.5s infinite;
    }
  }
  &.algae-ui-button-default {
    background: #ffffff;
    color: black;
    border-color: transparentize(#999999, 0.5);
    &.algae-ui-button-ghost {
    }
    &:hover {
      color: $theme-color;
      border-color: $theme-color;
    }
  }
  &.algae-ui-button-primary {
    background: $theme-color;
    color: #ffffff;
    border-color: $theme-color;
    &.algae-ui-button-ghost {
      color: $theme-color;
    }
    &:hover {
      color: transparentize(#ffffff, 0.15);
      background: transparentize($theme-color, 0.25);
      border-color: transparentize($theme-color, 0.25);
      &.algae-ui-button-ghost {
        color: transparentize($theme-color, 0.25);
      }
    }
  }
  &.algae-ui-button-success {
    background: $bg;
    color: $success;
    border-color: transparentize(#999999, 0.5);
    &.algae-ui-button-ghost {
      border-color: $success;
    }
    &:hover {
      background: $success;
      color: #ffffff;
      border-color: $success;
      &.algae-ui-button-ghost {
        color: transparentize($success, 0.15);
        border-color: transparentize($success, 0.25);
      }
    }
  }
  &.algae-ui-button-danger {
    background: $bg;
    color: $danger;
    border-color: transparentize(#999999, 0.5);
    &.algae-ui-button-ghost {
      border-color: $danger;
    }
    &:hover {
      background: $danger;
      color: #ffffff;
      border-color: $danger;
      &.algae-ui-button-ghost {
        color: transparentize($danger, 0.15);
        border-color: transparentize($danger, 0.25);
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes algae-ui-button-diffuse {
  to {
    top: -0.5em;
    left: -0.5em;
    bottom: -0.5em;
    right: -0.5em;
    border-width: 0.5em;
    opacity: 0;
  }
}
