@import '../../style/base';
.code-demonstration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > .code-demo-column {
    width: 48%;
    min-width: 360px;
    & > .code-demo {
      margin-bottom: 20px;
      & > .component-list {
        & > div[class|='icon'] {
          & > svg {
            margin: 0 4px;
          }
        }
      }
    }
  }
}
