@import '../../style/base';

.icon-display {
  & > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    & > li > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 167px;
      cursor: pointer;
      &:hover {
        background: transparentize($theme-color, 0.25);
        border-radius: 8px;
        color: white;
        & > .algae-ui-icon {
          animation: icon-hover 0.3s linear forwards;
        }
      }
      &.active::after {
        content: 'copyed';
        display: block;
        position: absolute;
        color: white;
        animation: copy-visible 0.5s linear forwards;
      }
      & > .algae-ui-icon {
        width: 2em;
        height: 2em;
        fill: black;
      }
      & > span {
        font-size: 12px;
        margin-top: 8px;
      }
    }
  }
}

@keyframes icon-hover {
  0% {
    transform: scale(1);
    fill: black;
  }
  100% {
    transform: scale(1.2);
    fill: white;
  }
}

@keyframes copy-visible {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
