@import '../src/style/theme';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 24px 0;
}

h2 {
  margin: 16px 0;
}
h3 {
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-page {
  background: #ffffff;
  min-height: 100vh;
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 8px 40px;
  box-shadow: rgb(240, 241, 242) 0 2px 8px;
  & > .logo {
    display: flex;
    align-items: center;
    & > img {
      width: 48px;
      height: 48px;
    }
    & > span {
      margin-left: 16px;
    }
  }
  & > .github {
    margin-right: 40px;
    display: flex;
    align-items: center;
    & .github-icon {
      width: 48px;
      height: 48px;
    }
  }
}

.site-main {
  padding-top: 24px;
}

.site-side {
  margin-right: 16px;
  border-right: 1px solid $division;
  & > h2 {
    padding: 8px 0 8px 40px;
    font-size: 20px;
  }
  & > ul {
    list-style: none;
    min-width: 12em;
    & > li {
      & > a {
        width: 100%;
        padding: 16px 0 16px 40px;
        color: $secondary-color;
        display: block;
        &:hover {
          color: $theme-color;
        }
        &.active {
          color: $theme-color;
          background: transparentize($theme-color, 0.85);
          border-right: 3px solid $theme-color;
        }
      }
    }
  }
}

.side-content {
  padding: 32px 16px;
  overflow: hidden;
}

.site-footer {
  text-align: center;
  padding: 16px 0;
  margin-top: 16px;
  font-size: 16px;
  color: $assistant-color;
  border-top: 1px solid $division;
}
