{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "react", "react-hooks", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "comma-dangle": ["error", "never"],
    "default-case": "error",
    "eqeqeq": "error",
    "no-duplicate-imports": "warn",
    "no-empty-function": "error",
    "no-eval": "error",
    "no-multi-spaces": "warn",
    "no-use-before-define": [
      "error",
      { "functions": false, "classes": true, "variables": false }
    ],
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "radix": "warn",
    "react/display-name": [0],
    "react-hooks/rules-of-hooks": "error",
    "require-await": "warn",
    "semi": ["error", "always"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
