@import '../../style/theme';

.algae-ui-confirm-dialog {
  z-index: 101;
  position: fixed;
  min-width: 20em;
  border-radius: 4px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: $bg;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.75);
  &-mask {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: fade_out(black, 0.75);
  }

  & > main {
    padding: 24px 24px;
    display: flex;
    flex-direction: row;
    & > .icon {
      margin-right: 16px;
      & > svg {
        width: 2em;
        height: 2em;
      }
    }
    & > .info {
      & > .title {
        font: {
          size: 18px;
          weight: 600;
        }
      }
      & > .content {
        margin-top: 8px;
        min-height: 2em;
      }
    }
  }

  & > footer {
    padding: 8px 24px;
    display: flex;
    justify-content: flex-end;
    & > .algae-ui-button {
      min-width: 6em;
      &:first-child,
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
