@import '../../style/theme';

.algae-ui-modal {
  z-index: 101;
  position: fixed;
  min-width: 20em;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  background: $bg;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.75);
  &-mask {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: fade_out(black, 0.75);
  }
  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: {
      size: 18px;
      weight: 600;
    }
    padding: 8px 24px;

    & > .algae-ui-close {
      height: 32px;
      width: 32px;
      cursor: pointer;
      line-height: 32px;
      text-align: center;
      &:hover {
        border-radius: 4px;
        background: transparentize($fill, 0.5);
        & > svg {
          fill: $strong;
        }
      }
    }
  }

  & > main {
    padding: 16px 24px;
    border-top: 1px solid $division;
    border-bottom: 1px solid $division;
  }

  & > footer {
    padding: 8px 24px;
    display: flex;
    justify-content: flex-end;
    & > .algae-ui-button {
      min-width: 6em;
      &:first-child,
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
