@import '../components/style/theme';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  margin: 24px 0;
  font: {
    size: 30px;
    family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
      'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}

h2 {
  margin: 16px 0;
  font-size: 24px;
}

h3 {
  font-size: 18px;
  margin: 8px 0;
}

p {
  line-height: 1.5;
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  margin: 0 4px;
  padding: 4px 4px;
  background: $bg;
  border-radius: 4px;
  font-family: inherit;
  color: inherit;
}

section {
  background: #ffffff;
  margin: 16px 0;
  padding: 8px 16px;
  border: {
    radius: 4px;
  }
  box-shadow: 0 1px 4px 1px #e3e6f5;
  min-width: 392px;
}

.code-demonstration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -16px;
  & > .code-demo-column {
    flex: 1;
    margin: 0 16px;
    min-width: 360px;
    & > .code-demo {
      margin-bottom: 20px;
    }
  }
}

.site-page {
  background: #ffffff;
  min-height: 100vh;
  overflow: hidden;
}

.site-side {
  background: #ffffff;
  height: 100vh;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 0 4px 0 rgb(240, 241, 242);
  z-index: 1;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  & > .logo {
    height: 64px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(240, 241, 242) 0 2px 8px;
    & > .logo_img {
      width: 36px;
      height: 36px;
    }
    & > .logo_text {
      width: 85px;
      height: 36px;
    }
    & > span {
      margin-left: 16px;
    }
  }
  & > .side-content {
    flex-grow: 1;
    min-width: 16em;
    & h2 {
      padding: 8px 0 8px 40px;
      font-size: 20px;
    }
    & ul {
      list-style: none;
      min-width: 16em;
      &:first-child {
        padding-top: 12px;
      }
      & > li {
        & > a,
        & > .component-list {
          width: 100%;
          padding: 16px 0 16px 40px;
          color: $secondary-color;
          display: block;
          margin: 0;
          cursor: pointer;
          &:hover {
            color: $theme-color;
          }
          &.active {
            color: $theme-color;
            background: #f7f7f7;
            border-left: 3px solid $theme-color;
          }
        }
        & > .component-list-switch {
          color: $primary-color;
          font-weight: bold;
          font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
            'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
            'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
        }
      }
    }
    & .component-list-ul {
      & > li {
        & > .component-group {
          cursor: default;
          padding: 8px 0 8px 56px;
          color: $assistant-color;
          &:hover {
            color: $assistant-color;
          }
        }
        & > a {
          padding-left: 72px;
        }
      }
    }
  }
}

.site-main {
  background: #f4f4f7;
  height: 100vh;
  overflow-y: auto;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0 16px 40px;
  box-shadow: #eaebef 0 2px 8px;
  & > .github {
    margin-right: 40px;
    display: flex;
    align-items: center;
    & > a {
      line-height: 0;
      & > .github-icon {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.main-content {
  padding: 32px;
}

.main-footer {
  text-align: center;
  padding: 16px 0;
  margin-top: 16px;
  font-size: 16px;
  color: $assistant-color;
  border-top: 1px solid $division;
}
