@import '../../style/theme';

.algae-ui-step-wrapper {
  padding: 8px;
  .algae-ui-step {
    display: flex;
    overflow: hidden;
    cursor: pointer;
    &.algae-ui-step-disabled {
      cursor: default;
    }
    .algae-ui-step-icon-wrapper {
      .algae-ui-step-icon-content {
        position: relative;
        .algae-ui-step-icon {
          display: inline-block;
          text-align: center;
          line-height: 28px;
          width: 32px;
          height: 32px;
          font-size: 16px;
          border-radius: 16px;
          border: {
            width: 2px;
            style: solid;
          }
        }
        .algae-ui-icon {
          width: 32px;
          height: 32px;
        }
      }
    }
    .algae-ui-step-content {
      padding-left: 8px;
      .algae-ui-step-title {
        display: inline-block;
        color: $primary-color;
        font-size: 20px;
        padding: 4px 8px 4px 0;
        .algae-ui-step-subTitle {
          color: $medium-color;
          font-size: 16px;
          margin-left: 8px;
          padding: 6px 0;
        }
      }
      .algae-ui-step-description {
        font-size: 14px;
        color: $medium-color;
        margin: 8px 0;
        line-height: 1.5;
      }
    }
    &.algae-ui-step-waiting {
      .algae-ui-step-icon {
        color: $fill;
        border-color: $fill;
      }
      .algae-ui-icon {
        fill: $fill;
      }
      .algae-ui-step-title {
        color: $assistant-color;
      }
    }
    &.algae-ui-step-process {
      .algae-ui-step-icon {
        background: $theme-color;
        color: #ffffff;
        border-color: $theme-color;
      }
      .algae-ui-icon {
        fill: $theme-color;
      }
      .algae-ui-step-title {
        color: #000000;
        font-weight: 500;
        .algae-ui-step-subTitle {
          font-weight: normal;
        }
      }
    }
    &.algae-ui-step-success {
      .algae-ui-step-icon {
        border: none;
      }
      .algae-ui-icon {
        fill: $success;
      }
    }
    &.algae-ui-step-fail {
      .algae-ui-step-icon {
        border: none;
      }
      .algae-ui-icon {
        fill: $danger;
      }
      .algae-ui-step-title {
        color: $danger;
        .algae-ui-step-subTitle {
          color: $danger;
        }
      }
      .algae-ui-step-description {
        color: $danger;
      }
    }
  }
}

.algae-ui-steps-horizontal {
  .algae-ui-step-wrapper {
    .algae-ui-step-content {
      .algae-ui-step-title {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 9999px;
          height: 1px;
          background: $fill;
          top: 50%;
          left: 100%;
        }
      }
      .algae-ui-step-description {
        max-width: 160px;
      }
    }
    .algae-ui-step {
      &.algae-ui-step-success {
        .algae-ui-step-content {
          .algae-ui-step-title {
            &:after {
              background: $success;
            }
          }
        }
      }
    }

    .algae-ui-step.algae-ui-step-current {
      &.algae-ui-step-success {
        .algae-ui-step-content {
          .algae-ui-step-title {
            &:after {
              background: $fill;
            }
          }
        }
      }
    }
  }
}

.algae-ui-steps-vertical {
  flex-direction: column;
  .algae-ui-step-wrapper {
    .algae-ui-step-icon-wrapper {
      .algae-ui-step-icon-content {
        width: 32px;
        height: 32px;
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: 9999px;
          background: $fill;
          top: 150%;
          left: 50%;
        }
      }
    }
    &:last-child {
      .algae-ui-step-icon-content {
        &:after {
          display: none;
        }
      }
    }
    .algae-ui-step {
      &.algae-ui-step-success {
        .algae-ui-step-icon-wrapper {
          .algae-ui-step-icon-content {
            &:after {
              background: $success;
            }
          }
        }
      }
    }
  }
}
