@import '../../../src/style/theme';

ul {
  list-style: none;
  width: 100%;
  & > li {
    display: flex;
    &.table-header {
      font-size: 16px;
      color: $assistant-color;
      border-bottom: 2px solid $division;
      background: $bg;
    }
    &.table-body {
      font-size: 14px;
      color: $secondary-color;
      border-bottom: 1px solid $division;
      & > span.parameter {
        font-weight: 500;
      }
      & > span.type {
        color: $strong;
      }
    }
    & > span {
      text-align: left;
      min-height: 3em;
      line-height: 3em;
      padding-left: 16px;
    }
    & > .parameter {
      width: 20%;
    }
    & > .explain {
      width: 45%;
    }
    & > .type {
      width: 20%;
    }
    & > .default {
      width: 15%;
    }
  }
}
