@import '../../style/theme';

.algae-ui-input-wrapper {
  position: relative;
  display: inline-flex;
  height: 36px;
  & > .algae-ui-input {
    width: 100%;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid $division;
    box-shadow: 0 0 0 2px transparentize($theme-color, 1);
    transition: all 0.5s;
    &:hover {
      border: 1px solid transparentize($theme-color, 0.25);
    }
    &:focus {
      border: 1px solid transparentize($theme-color, 0.25);
      box-shadow: 0 0 0 2px transparentize($theme-color, 0.75);
    }
  }
  & > .algae-ui-input-suffix {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    line-height: 0;
    & > .algae-ui-input-icon {
      width: 1em;
      height: 1em;
      fill: $fill;
      margin: 0 8px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  & > .algae-ui-input-after {
    display: inline-block;
    height: 100%;
  }
}
