@import '../../style/theme';

.algae-ui-checkbox-wrapper {
  line-height: 1.5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    & > .algae-ui-checkbox {
      animation: checkbox-hover 0.3s linear forwards;
    }
  }
  & > .algae-ui-checkbox {
    font-size: 14px;
    line-height: 1;
    background: #ffffff;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $division;
    border-radius: 2px;
    position: relative;
    & > .algae-ui-checkbox-input {
      font-size: inherit;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }
  }
  &.algae-ui-checkbox-indeterminate {
    & > .algae-ui-checkbox {
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1px;
        background: transparentize($theme-color, 0.15);
      }
    }
    &.algae-ui-checkbox-disabled {
      & > .algae-ui-checkbox::after {
        background: transparentize($fill, 0.25);
      }
    }
  }
  &.algae-ui-checkbox-checked {
    & > .algae-ui-checkbox {
      border-width: 0;
      background: transparentize($theme-color, 0.15);
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 6px;
        width: 10px;
        top: 3px;
        left: 3px;
        transform: rotate(-45deg);
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
      }
    }
  }
  &.algae-ui-checkbox-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      & > .algae-ui-checkbox {
        animation: none;
      }
    }
    & > .algae-ui-checkbox {
      background: transparentize($fill, 0.85);
      cursor: not-allowed;
      & > .algae-ui-checkbox-input {
        cursor: not-allowed;
      }
    }
  }
  &.algae-ui-checkbox-checked.algae-ui-checkbox-disabled {
    & > .algae-ui-checkbox {
      background: transparentize($fill, 0.75);
      border-width: 1px;
      &::after {
        border-color: $secondary-color;
      }
    }
  }
  & > .algae-ui-checkbox-text {
    color: $medium-color;
    font-size: 14px;
    padding: 0 8px;
  }
}

@keyframes checkbox-hover {
  0% {
    border-color: $division;
  }
  100% {
    border-color: transparentize($theme-color, 0.15);
  }
}
