@import '../../style/base';

.example {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid black;
  & * {
    border: 1px solid blue;
  }
  & > .algae-ui-layout {
    flex-direction: column;
  }
}
