// 主题色。重点文案、主按钮颜色
$theme-color: #506dfe;

// 文字
// 主色。导航内容、产品标题
$primary-color: rgba(0, 0, 0, 0.85);
// 次等色。详情段落文字、功能入口名称，常用于大量阅读文字段落
$secondary-color: rgba(0, 0, 0, 0.7);
// 中等色。用在与标题色对比，又需要较明显的阅读性文字
$medium-color: rgba(0, 0, 0, 0.6);
// 辅助色。辅助性文字说明、提示文字、弱按钮
$assistant-color: rgba(0, 0, 0, 0.45);
// 最弱色。暗文提示、不可用按钮
$weakest-color: rgba(0, 0, 0, 0.3);

$white: #ffffff;

// 常用背景色
$bg: #f2f3f7;

// 分割色。分隔普通内容
$division: #cccccc;

// 填充色。常用填充用色、描边用色
$fill: #999999;

// 提示色。
$hint: #ff721f;

// 强调色。用于强文字链接，规则条款
$strong: #0b1df8;

//成功色。成功提示等
$success: #20baa4;

// 提醒色。警告提示等
$warning: #ffa30a;

// 危险色。报错提示、异常用色等
$danger: #f53f4a;
