@import '../../../style/base';

.algae-ui-api {
  margin: 16px 0;
  border: {
    collapse: collapse;
    radius: 4px;
  }
  width: 100%;
  box-shadow: 0 1px 4px 1px #e3e6f5;
  background: #ffffff;
  & td {
    text-align: left;
    min-height: 3em;
    padding: 1em 0 1em 16px;
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 45%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 15%;
    }
  }
  & > thead > tr > td {
    font-size: 16px;
    color: $assistant-color;
    border-bottom: 1px solid #ecedef;
  }
  & > tbody > tr {
    &:nth-child(2n + 1) {
      background: #f9fafc;
    }
    & > td {
      font-size: 14px;
      color: #8e9aad;
      &:nth-child(1) {
        font-weight: 500;
        color: $secondary-color;
      }
      &:nth-child(3) {
        color: $theme-color;
      }
    }
  }
}
