@import '../../style/theme';

.algae-ui-tree-item {
  padding-left: 1.5em;
  & > .algae-ui-tree-item-content {
    display: flex;
    align-items: center;
    & > .algae-ui-tree-item-switcher {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      width: 18px;
      transition: transform 0.5s;
      cursor: pointer;
      & > .algae-ui-tree-item-switch {
        width: 0.8em;
        height: 0.8em;
      }
      &-empty {
        display: inline-block;
        height: 18px;
        width: 18px;
      }
    }
    & > .algae-ui-tree-item-checker {
      display: inline-block;
      margin-right: 8px;
      margin-left: 4px;
      font-size: 0;
    }
    & > .algae-ui-icon {
      width: 1.2em;
      height: 1.4em;
      margin-right: 4px;
    }
  }
  & > .algae-ui-tree-item-children {
    transition: height 0.5s;
    overflow: hidden;
    &.close {
      height: 0;
    }
  }
}
