@import '../../style/theme';

.algae-ui-textarea {
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid $division;
  &:hover {
    animation: algae-ui-input-hover 0.5s ease-in-out forwards;
  }
  &:focus {
    border: 1px solid transparentize($theme-color, 0.25);
    box-shadow: 0 0 0 2px transparentize($theme-color, 0.75);
  }
}

@keyframes algae-ui-input-hover {
  0% {
  }
  100% {
    border: 1px solid transparentize($theme-color, 0.25);
  }
}
