@import '../../../style/base';

.code-demo {
  border: 1px solid transparentize($division, 0.25);
  border-radius: 4px;
  margin-bottom: 16px;
  box-shadow: 0 1px 4px 1px #edf4fd;
  & > .component-list {
    padding: 24px 16px;
  }
  & > .title {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 1px;
      margin-right: 4px;
      background: $division;
    }
    &:after {
      content: '';
      display: block;
      flex-grow: 1;
      height: 1px;
      margin-left: 10px;
      background: $division;
    }
  }
  & > .content {
    padding: 8px 16px;
    & > span {
      font-size: 14px;
      color: $secondary-color;
      & > p {
        margin: 8px 0;
        line-height: 1.5;
        & > code {
          margin: 0 4px;
          padding: 0 4px;
          background: $bg;
          border-radius: 4px;
        }
        & > a {
          color: $theme-color;
          margin: 0 4px;
          padding: 4px 4px;
        }
      }
    }
  }
  & > .code-control {
    border-top: 1px dashed $division;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
      margin: 12px 8px;
      position: relative;
      cursor: pointer;
      &:not(.check):hover,
      &.check {
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -100%;
          width: 1em;
          height: 1em;
          background: rgb(0, 0, 0);
          border-radius: 1px;
          transform: rotate(45deg);
        }
        &:after {
          content: '';
          display: inline-block;
          font-size: 12px;
          min-width: 6em;
          text-align: center;
          padding: 4px 1em;
          position: absolute;
          top: -40%;
          left: 50%;
          transform: translate(-50%, -100%);
          background: rgb(0, 0, 0);
          color: white;
          border-radius: 4px;
        }
      }
      &:hover {
        &.copy:after {
          content: '复制代码';
        }
        &.code-show:after {
          content: '显示代码';
        }
        &.code-hidden:after {
          content: '收起代码';
        }
      }
      &.check:after {
        content: '复制成功';
      }
      & > svg {
        height: 1em;
        width: 1em;
        fill: #666666;
      }
    }
  }
  & > .code {
    border-top: 1px dashed $division;
    padding: 16px;
    background: transparentize(#f2f3f7, 0.75);
    overflow-x: auto;
    display: block;
  }
}
